@font-face {
  font-family: 'RobotoMono';
  src: url(fonts/RobotoMono-Thin.ttf);
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: azure;
  background: linear-gradient(to right, rgb(93, 106, 114), rgb(38, 44, 77));
}